body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(assets/paisajefondo.jpg);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

#formulario{
    background-color: rgba(44, 41, 38, 0.7);
    padding: 25px;
    border-radius: 15px;
    margin-right: 150px;
    box-shadow: 2px 2px 20px black;
    color: white;
}

input,select{
    padding: 4px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

input[type="checkbox"]{
    margin-top: 15px;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select{
    width: 100%;
    text-align: center;
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: rgb(255, 255, 255) !important;
    outline: none;
    padding: 8px 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    
}

input[type="submit"]{
    background-color: rgb(204, 162, 25);
    color: white;
    padding: 15px;
    border: 1px solid rgb(53, 50, 50);
    border-radius: 10px;
    cursor: pointer;
    width: 75%;
    display: block;
    margin: auto;
    transition: 0.5s ease;
}

input[type="submit"]:hover{
    background-color: rgb(151, 116, 1);
}

.error {
    color: red;
    font-size: 10px;
    min-height: 7px; 
    display: block;
    margin-top: 2px;
}

.campo {
  margin-bottom: 6px;
}

.campo.checkbox {
  margin-top: 0px;
}

select option {
  background-color: rgba(44, 41, 38, 0.95); 
  color: rgb(167, 167, 167)
}

::placeholder {
  color: rgb(167, 167, 167);
}